

<% session[:edit] ||=0 %>
<% session[:edit] +=1 %>

<div class="col-md-3"></div>
<div class="col-md-6">
<div class="container-fluid">
<div class="col-md-4"></div>
<div class="col-md-4">
</div>
<div class="col-md-2"></div>
<div class="col-md-1">
<%= link_to 'Show', @item %></div>
<div class="col-md-1">
<%= link_to 'Back', items_path %>                                 
</div>
<br>
<%= bootstrap_form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
  
     <%= f.text_field :name %><br>  
   


     <%= f.text_field :tags %><br>
     
 


    <%= f.text_field :count %>
       <%= f.text_field :supplier %><br>
   
          <% if current_user.present? %> 
    <%= f.text_field :stock, label:"Price" %><br>
   <% end %>
   
    <%= f.file_field :avatar %> 

    <%= f.submit %>


<% end %>
</div>
</div>



