
<!doctype html>
<html><head>
  </head>
  <body>
  
<br>

<script>
$(document).ready(function(){
  $("input").keydown(function(){
    $("input").css("background-color","yellow");
  });
  $("input").keyup(function(){
    $("input").css("background-color","grey");
  });
});


$(function() {
  $("#search-form input").keyup(function() {
    $.get($("#search-form").attr("action"), $("#search-form").serialize(), null, "script");
    return false;
  });
});
</script>
  

    <div class="container">

        <div class="col-sm-12">

            <h1>Listing items</h1>
	
        
	<div class="form-group">	
             <%= form_tag(items_path,layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10" ,:method => "get", id: "search-form") do %>
  	       <%= text_field_tag :search, params[:search], placeholder: "Search Items" %>
                    
              <%= submit_tag "Search", :name => nil %>
	<% end %>
     </div>
	

<div id="items"> <%= render 'items' %> </div>        
</div>

<div class="col-sm-3 col-lg-3">
          <hr>
		<script src="http://brangerbriz.net/labs/threejs_playGnd/js/three.min.js"></script>
		<script src="http://brangerbriz.net/labs/threejs_playGnd/js/Detector.js"></script>
		<script>

			if ( ! Detector.webgl ) Detector.addGetWebGLMessage();
			
			var camera, scene, renderer;
			var geometry, material, mesh;

			function setup() {

				var W = window.innerWidth, H = window.innerHeight;
				renderer = new THREE.WebGLRenderer();
				renderer.setSize( W, H );
				document.body.appendChild( renderer.domElement );

				camera = new THREE.PerspectiveCamera( 50, W/H, 1, 10000 );
				camera.position.z = 500;

				scene = new THREE.Scene();
				
				geometry = new THREE.TorusKnotGeometry(30, 19, 74, 8, 4, 3, 1);
material = new THREE.MeshNormalMaterial({shading: THREE.FlatShading});
mesh = new THREE.Mesh(geometry, material);
scene.add(mesh);

			}

			function draw() {

				requestAnimationFrame( draw );
				
					mesh.rotation.x = Date.now() * 0.0005;	
				mesh.rotation.y = Date.now() * 0.0002;	
				mesh.rotation.z = Date.now() * 0.001;

				renderer.render( scene, camera );

			}

			setup();
			draw();

		</script>
		
</div>
    

    <!-- ACCORDION BLOCK -->     
      <div class="col-sm-3 col-lg-3">
        <div class="dash-unit">
            <dtitle>Accordion</dtitle>
            <hr>
          <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            Collapsible Group Item #1
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem.                        
                </div>
                        </div>
                    </div>
    
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            Collapsible Group Item #2
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem.                      
                </div>
                        </div>
                    </div>
    
                     <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                            Collapsible Group Item #3
                            </a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse">
                            <div class="accordion-inner">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem.                        
                            </div>
                        </div>
                    </div>
                </div><!--/accordion -->
        </div>
      </div>
      
      <div class="col-sm-3 col-lg-3">

        <!-- LAST USER BLOCK -->     
        <div class="half-unit">
            <dtitle>Last Registered User</dtitle>
            <hr>
              <div class="cont2">
                <%= image_tag=("/images/user-avatar.jpg") %>
                <br>
                <br>
                <p>Paul Smith</p>
                <p><bold>Liverpool, England</bold></p>
              </div>
        </div>
        
     
        <!-- FAST CONTACT BLOCK -->     
      <div class="col-sm-2 col-lg-2">
        <div class="dash-unit">
            <dtitle>Fast Contact</dtitle>
            <hr>
            <div class="cont">
                  <form action="#get-in-touch" method="POST" id="contact">
                      <input type="text" id="contactname" name="contactname" placeholder="Name">
                      <input type="text" id="email" name="email" placeholder="Email">
                      <div class="textarea-container"><textarea id="message" name="message" placeholder="Message"></textarea></div>
                      <input type="submit" id="submit" name="submit" value="Send">
                    </form>
        </div>
        </div>
      </div>

      
      
  </div> <!-- /container -->
  <div id="footerwrap">
        <footer class="clearfix"></footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-12">
            <p><%=image_tag=("/images/logo.png")%></p>
            <p>    </p>
            </div>

          </div><!-- /row -->
        </div><!-- /container -->   
  </div><!-- /footerwrap -->


    <!-- Le javascript
    ================================================== -->
    
  



<!--   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->




<!--   ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->

    </html>
