

<div class = "container">
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>

<table class="table  table-hover table-bordered ">
<tr> 
 <td> <strong><h3>Image:</h3></strong></td>
<td><div class="img-circle img-responsive" alt="Responsive image"> <%= image_tag @item.avatar.url(:small) %> </div>
 </td>
</tr>
<tr>
<td>
 <strong><h3>Name:</h3></strong>
 </td>
<td> <h3><%= @item.name %></h3>
</td>
</tr>
<tr>
<td>  
<strong><h3>Tags:</h3></strong></div>
 </td>
<td> <h3><%= @item.tags %></h3>
 </td>
</tr>
<tr>
<td> <strong><h3>Count:</h3></strong>
</td>
<td>
  <h3><%= @item.count %></h3>
</td>
</tr>
<tr>
<td>  <strong><h3>Supplier:</h3></strong></td>
<td><h3><%= @item.supplier %></h3></td>
</tr>
<tr>
<td>
  <strong><h3>Price:</h3></strong></td>
<td> <h3><%= @item.stock %></h3></td>
</tr>
</table>
</div>
