 


<style >

strong {
 font-size: 16;
}
</style> 
 
   
 <div class="container">
<div class="col-md-1 btn btn-default">
<%= link_to 'Back', items_path %></div>
<div class="col-md-1 btn btn-default ">
<%= link_to 'Edit', edit_item_path(@item)  %></div>

<div class="col-md-10"></div>
</div>
<div class = "container">







<table class="table  table-hover table-bordered ">
<tr> 
 <td> <strong>Image:</strong></td>
<td><div class="img-circle img-responsive" alt="Responsive image"> <%= image_tag @item.avatar.url(:small) %> </div>
 </td>
</tr>
<tr>
<td>
 <strong>Name:</strong>
 </td>
<td> <%= @item.name %>
</td>
</tr>
<tr>
<td>  
<strong>Tags:</strong></div>
 </td>
<td> <%= @item.tags %>
 </td>
</tr>
<tr>
<td> <strong>Count:</strong>
</td>
<td>
  <%= @item.count %>
</td>
</tr>
<tr>
<td>  <strong>Supplier:</strong></td>
<td><%= @item.supplier %></td>
</tr>

<tr>
<td>
  <strong>Price:</strong></td>
<td>
<% if current_user.present? %> 
 <%= @item.stock %></td>
 <% else %>
 <h5> Only Admin Can Access to the Price</h5></td>
 <% end %>
</tr>
<tr>
<td>  <strong>Created At:</strong></td>
<td>
<% if current_user.present? %> 
<%= @item.created_at %></td>
<% else %>
 <h5> Only Admin Can Access to the Time of Adding Items</h5></td>
 <% end %>
</tr>
<tr>
<td>  <strong>Updated At:</strong></td>
<td>
<% if current_user.present? %> 
<%= @item.updated_at %></td>
<% else %>
 <h5> Only Admin Can Access to the Time of Modifications</h5></td>
 <% end %>
</tr>
</table>
</div>
